body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

/* Cabeçalho fixo */
/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

header a:hover {
    color: #00c8ff;
} */

/* Conteúdo principal */
main {
    padding: 120px 30px 40px;
    max-width: 1000px;
    margin: auto;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px 20px;
}

.principal-text {
    max-width: 50%;
}

.principal-img {
    border-radius: 10px;
}

.historia {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1.5;
}


.hero h1 {
    margin-top: 0;
    font-size: 32px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.nav-link {
    color: #1B72BF !important;
}

.nav-link:hover {
    color: #F2BB13 !important;
}

.slogan {
    color: #F2BB13 !important;
}

/* body {
    background: #F2F2F2;
} */

footer {
  text-align: center;
}

.product-card img {
            object-fit: cover;
            height: 220px;
}

.cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
}

.card img {
            object-fit: cover;
            height: 220px;
        }

        .cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }

.btn-add-user, .btn-add-products {
    background-color: #F2BB13 !important;
    border-color: #F2BB13 !important;
    color: #000 !important;
}
.btn-add-user:hover {
    background-color: #d9a610 !important;
    border-color: #d9a610 !important;
        color: #D94343 !important;   /* ← cor do texto no hover */
}

.btn-add-products:hover {
    background-color: #d9a610 !important;
    border-color: #d9a610 !important;
    color: #D94343 !important;   /* ← cor do texto no hover */
}

.btn-add-position {
    position: absolute;
    right: 0;          /* end-0 */
    top: 50%;          /* top-50 */
    transform: translateY(-50%); /* translate-middle-y */
}

.titulo-usuarios, .titulo-produtos {
   color: #1B72BF !important; 
}

.logo span {
  display: inline; /* garante que fiquem na mesma linha, colados */
}

.logo .tudo {
  color: #1B72BF;
}

.logo .e {
  color: #F2BB13;
}

.logo .mais {
  color: #F2811D;
}

.erroModal {
color:red; 
font-weight:bold;
}
